<h1>{{ title }}</h1>

<p>{{# if errors }}
        <section class="errors">
            <ul>
                {{# each errors }}
                    <li>{{ this.msg }}</li>
                {{/each}}
            </ul>
        </section>
    {{/if}}</p>
<form action="/login" method="post">
    <input type="text" id="username" name="username" placeholder="Username">
    <input type="password" id="password" name="password" placeholder="Password">
    <br>
    <br>
    <button type="submit">Login</button>
</form>
<br>
<a href="/login/register">Register</a>
