<form action="/search" method="post">
    <input type="text" id="search" name="search" placeholder="Search">
    <button type="submit">Search</button>
</form>

{{#if search}}
    <h2>Searched for '{{search}}'</h2>
    <ul>
    {{#each results}}
        <a href="/users/{{this.uid}}"> <li> {{this.name}} </li> </a>
    {{/each}}
{{/if}}